
.contact_question {
    text-transform: capitalize;
    font-weight: 500;
    padding-inline: 2rem;
    text-align: center;
    color: var(--main-color);
    margin-bottom: 1.5rem;
}

.contact_sub_title {
    padding-inline: 2rem;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--text-dark-d);
    text-align: center;
}

.contact_content {
    padding: 1rem;
    margin-top: 4rem;
    flex: 0 0 25%;
    max-width: 25%;
    text-align: center;
}

.contact_content .icon {
    display: inline-block;
}

.contact_content .icon .fa {
    font-size: 1.5rem;
    color: var(--main-color);
}

.contact_content h5 {
    text-transform: capitalize;
    font-weight: 700;
    color: var(--text-dark-d);
    margin: 0.8rem 0;
}

.contact_content p {
    color: var(--text-dark-l);
    font-weight: 700;
    line-height: 1.5rem;
}

.contact_content a {
    color: var(--text-dark-l);
    font-weight: 700;
}

.contact_content a:hover {
    color: var(--main-color);
}

.send_email {
    text-align: center;
    color: red;
    padding: 1rem;
    text-transform: uppercase;
}

.half_row {
    flex: 0 0 50%;
    max-width: 50%;
}

.full_row {
    flex: 0 0 100%;
    max-width: 100%;
}

.form_item {
    padding: 1rem;
    margin-bottom: 2rem;
}

.center_form {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form_item .form_controllar {
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background: var(--light-bg-l);
    box-shadow: inset -3px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 0.75rem 1.5rem;
    color: var(--text-dark-l);
    transition: all 0.3s ease;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.form_controllar:focus {
    box-shadow: 0px 0px 20px rgba(48, 46, 76, 0.15);
}

textarea {
    height: 140px !important;
}

.form_item button {
    border: none;
    font-size: 1.25rem;
    padding: 1.1rem 1.8rem;
}

/* ***********************************  Resposive Style ***************************************** */

@media (max-width:1028px) {
    .contact_content {
        flex: 0 0 48% !important;
        max-width: 48% !important;
    }
}


@media (max-width:645px) {
    .contact_content {
        flex: 0 0 80% !important;
        max-width: 80% !important;
    }
}

